/*index*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.grande{
    background-color: blueviolet;
    margin: 60px 0px 0px 80px;
    padding: 10px 0 30px 0;
    height: 1390px;   
    width:  970px;
}
.grande p{
    background-color: green;
    margin: 0 30px 20px 40px;
    height: 600px;
    width: 900px;
}
.grande h3{
    background-color: red;
    margin: 0px 10px 30px 60px;
    height: 400px;
    width: 900px;
}
.grande h2{
    background-color: blue;
    margin: 0px 40px 0 30px;
    height: 300px;
    width: 900px;
}
/*page2*/
.page2{
    margin: 60px 0px 0px 80px;
    background-color: blueviolet;
    height: 950px;
    width: 895px;
    padding: 30px 0 25px 0;
}
.page2 article{
    background-color: blue;
    margin: 0 20px 15px 40px;
    height: 260px;
    width: 835px;
    padding: 30px 0 0 0;
} 
.page2 div{
    background-color: red;
    margin: 0 15px 20px 20px;
    height: 100px;
    width: 800;
}
.page2 nav{
    background-color: chartreuse;
    margin: 15px 30px 20px 30px;
    height: 350px;
    width: 835px;
    padding: 30px 0 0 0;
}
.page2 aside{
    background-color: aliceblue;
    margin: 0 20px 20px 10px;
    height: 300px;
    width: 800px;
}
.page2 h1{
    background-color: gold;
    margin: 0 15px 25px 25px;
    height: 250px;
    width: 835px;
}



/*pagina 3*/



.pagina3{
    background-color: black;
    margin: 40px 0px 0px 30px;
    padding: 10px 0px 0px;
    width: 980px;
    height: 830px;
}
.pagina3 h1,.pagina3 h2,.pagina3 h3{
    width: 900px
}
.pagina3 h1{
    background-color: brown;
    margin: 10px 40px 30px 40px;
    height: 300px
}
.pagina3 h2{
    background-color: green;
    margin: 0px 50px 40px 30px;
    padding: 1px;
    height: 240px;

}
.pagina3 h2 p{
    background-color:grey;
    margin: 10px 15px 20px 15px;
    height: 100px;
    width: 850px;
     
}
.pagina3 h2 div{
    background-color:darkorange;
    margin: 0px 15px 10px 15px;
    height: 100px;
    width: 850px;
     
}
.pagina3 h3{
    background-color: blue;
    margin: 0px 60px 10px 20px;
    padding: 1px;
    height: 200px;
}
.pagina3 h3 article{
    background-color: orangered;
    margin: 30px 10px 30px 30px;
    padding: 1px;
    height: 140px;
    width: 860px;
}
.pagina3 h3 article div{
    background-color:red;
    margin: 20px 20px 20px 20px;
    padding: 1px;
    height: 100px;
    width: 820px;
}
.pagina3 h3 article div p{
    background-color:yellow;
    margin: 10px 20px 10px 20px;
    height: 80px;
    width: 780px;
}



/*pagina 4*/
.page4{
    background-color: blueviolet;
    margin: 40px 0 0 40px;
    padding: 20px 0 0 0;
    height: 1200px;
    width: 1000px;
}

.page4 div{
    background-color: blue;
    margin: 0 20px 20px 20px;
    padding: 30px 0 0 0;
    height: 1160px;
    width: 960px;
}
.page4 article{
    background-color: yellowgreen;
    margin: 0 30px 30px 30px;
    padding: 20px 0 0 0;
    height: 1100px;
    width: 900px;
}
.page4 li{
    background-color: red;
    margin: 0 10px 20px 10px;
    padding: 10px 0 0 0;
    height: 520px;
    width: 880px;
}
.page4 ul{
    background-color: aqua;
    margin: 0 20px 10px 20px;
    padding: 20px 0 0 0;
    height: 484px;
    width: 840px;
}
.page4 p{
    background-color: black;
    margin: 0 30px 20px 30px;
    height: 460px;
    width: 780px;
}

/*pagina cinco*/

.page4{
    background-color: #17202A  ;
    width: 900px;
    height: 1520px;
    margin: 70px 0px 0px 60px;
    padding: 1px;   
}
.page4 footer{
    background-color: #D7BDE2  ;
    width: 800px;
    height: 1250px;
    margin: 20px 60px 40px 40px;
    padding: 1px;
}
.page4 footer nav,.page4 footer div,.page4 footer article{
    width: 760px;
    height: 300px;
}
.page4 footer nav{
    background-color: black;
    margin: 20px 30px 30px 30px;
}
.page4 footer div{
    background-color: #EC7063    ;
    margin: 0px 20px 15px 40px;
    width: 750px;
}
.page4 footer article{
    background-color: #2874A6  ;
    margin: 0px 40px 15px 20px;    
}
.page4 footer aside {
    background-color: #17202A;
    width: 760px;
    height: 200px;
    margin: 0px 45px 20px 15px;
}
.page4 main{
    background-color: #D6EAF8;
    width: 700px;
    height: 200px;
    margin: 0px 100px 60px 100px;

}